# Node dependencies
Backend/node_modules/
frontend/node_modules/
frontend2/node_modules/

# Environment files
Backend/.env
frontend/.env

# Logs
*.log

# Build outputs
dist/
build/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/

# key to connect with aws ec2 instance
ai-chatbot-key-new.pem